<td>{{data.accrued}}</td>
<td>{{data.coupon}}</td>
<td>{{data.cov}}</td>
<td>{{data.currency}}</td>
<td>{{data.cusip}}</td>
<td>{{data.description}}</td>
<td>{{data.dur}}</td>
<td>{{data.market_value}}</td>
<td>{{data.maturity}}</td>
<td>{{data.oas}}</td>
<td>{{data.par_value}}</td>
<td>{{data.pd}}</td>
<td>{{data.price}}</td>
<td>{{data.quality}}</td>
<td>{{data.sector}}</td>
<td>{{data.sprd_dur}}</td>
<td>{{data.weight}}</td>
<td>{{data.yield}}</td>
